@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
}

li {
  animation: slide-in-out 1s ease-in-out;
}

@keyframes slide-in-out {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
}
